@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap");
@import url("http://db.onlinewebfonts.com/c/00e33ab22d743f78fcc84a5b079ee93c?family=Register+Sans+BTN");
.dm-sans {
  font-family: "DM Sans", sans-serif;
}

.dm-serif {
  font-family: "DM Serif Text", serif;
}

.italic {
  font-family: "DM Serif Display", serif;
}

.shadow {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.olive {
  background-color: #657533;
}

.forest {
  background-color: #1f4d28;
}

.register {
  font-family: "Register Sans BTN Regular", "sans-serif";
}

@media (max-width: 575.98px) {
  .about {
    padding: 0;
  }
}

section article {
  font-family: "DM Sans", sans-serif;
  text-align: justify;
  line-height: 1.65;
}

section article .pic1 {
  width: 47%;
  float: left;
  margin-top: 0.5rem;
  padding-right: 1rem;
}

@media (max-width: 575.98px) {
  section article .pic1 {
    width: 100%;
    padding-right: 0;
    padding-bottom: 20px;
    margin: 0 auto;
  }
}

section .swash img {
  width: 10%;
}

@media (max-width: 575.98px) {
  section .swash img {
    width: 30%;
  }
}

@media (max-width: 575.98px) {
  section article {
    padding: 0;
    min-width: 100%;
  }
}

section article .nb {
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 600;
}

.swash img {
  width: 10%;
}

@media (max-width: 575.98px) {
  .swash img {
    width: 30%;
  }
}

.promo {
  width: 75%;
  margin: 0 auto;
}

.promo .products-all img {
  width: 100%;
  padding: 0;
}

@media (max-width: 575.98px) {
  .promo .products-all {
    margin-bottom: 5%;
  }
}

.promo .buy {
  background-color: #a39c77;
}

.promo .buy button {
  background-color: transparent;
  font-size: 1.3rem;
}

@media (max-width: 575.98px) {
  section {
    padding: 10%;
  }
}

@media (max-width: 575.98px) {
  section .photos {
    display: block;
  }
}

section .photos img {
  width: 33.3%;
}

@media (max-width: 575.98px) {
  section .photos img {
    padding: 0;
    min-width: 100%;
    margin: 10px;
  }
}

@media (max-width: 575.98px) {
  article span {
    text-align: center;
  }
}

article .pic2 {
  width: 36%;
  float: left;
  padding-right: 1rem;
  margin-top: 0.5rem;
}

@media (max-width: 575.98px) {
  article .pic2 {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 15px;
    float: none;
  }
}

article .pic3 {
  width: 33%;
  float: left;
  padding-right: 1rem;
  margin-top: 0.5rem;
}

@media (max-width: 575.98px) {
  article .pic3 {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 15px;
    float: none;
  }
}

.shop article {
  text-align: center;
  font-size: 1rem;
}

.shop article h1 {
  font-size: 1.75rem;
}

.shop article div img {
  width: 30%;
}

.shop .btn {
  background-color: #1f4d28;
  color: #fff;
}

@media (max-width: 575.98px) {
  .shop .myecwid {
    padding: 0 !important;
  }
}

@media (max-width: 575.98px) {
  .shop .myecwid .category img {
    width: 25%;
  }
}

.contact i {
  font-size: 2rem;
  color: #1f4d28;
}

.contact .fa-instagram {
  font-size: 2.2rem;
}

@media (max-width: 575.98px) {
  .contact ul {
    padding: 0;
    max-width: 65%;
    margin: auto;
  }
}

.contact ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2%;
}

@media (max-width: 575.98px) {
  .contact ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact a {
  text-decoration: none;
  color: #1f4d28;
}

.contact iframe {
  min-height: 280px;
}

.contact h2 {
  font-weight: bolder;
}

.contact form input, .contact form textarea {
  border-radius: 0;
}

@media (max-width: 575.98px) {
  .contact .reserve {
    margin: 0 auto;
    text-align: center;
  }
}

.contact .address img {
  width: 10%;
}

@media (max-width: 575.98px) {
  .contact .address img {
    width: 25%;
  }
}

.intro {
  height: 100vh;
  scroll-behavior: smooth;
}

.intro .carousel {
  z-index: 1;
  padding: 0;
  position: absolute;
}

@media (max-width: 575.98px) {
  .intro .carousel {
    height: 100vh;
    width: 100%;
    z-index: 1;
    position: absolute;
  }
}

.intro .carousel .carousel-item {
  max-height: 100vh;
  width: 100%;
}

@media (max-width: 575.98px) {
  .intro .carousel .carousel-item img {
    min-height: 100vh;
    min-width: 250%;
  }
}

.intro .overlay {
  z-index: 2;
  position: absolute;
  background-color: rgba(31, 77, 40, 0.8);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 100vh;
}

@media (max-width: 575.98px) {
  .intro .overlay {
    min-height: 100vh;
  }
}

.intro .overlay img {
  z-index: 2;
  width: 35%;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 575.98px) {
  .intro .overlay img {
    width: 90%;
    margin-top: 25%;
    -ms-flex-item-align: self-start;
        -ms-grid-row-align: self-start;
        align-self: self-start;
  }
}

.intro .overlay h1 {
  color: #ebe8d3;
}

@media (max-width: 575.98px) {
  .intro .overlay h1 {
    padding-left: 5%;
    padding-right: 5%;
    vertical-align: top;
  }
}

.overlay a {
  -webkit-animation: float 2s ease-in-out infinite;
          animation: float 2s ease-in-out infinite;
  z-index: 2;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-10px);
            transform: translatey(-10px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-10px);
            transform: translatey(-10px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

.overlay a .arrow {
  z-index: 2;
  width: 3vw;
}

@media (max-width: 575.98px) {
  .overlay a .arrow {
    width: 50px;
    z-index: 2;
  }
}

.front {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.front .pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 575.98px) {
  .front .pic {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.front blockquote {
  font-size: 1.3rem;
}

.front .welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.front .welcome h2 {
  font-weight: bolder;
}

@media (max-width: 575.98px) {
  .front .welcome h2 {
    font-size: 1.8rem;
  }
}

.pic .blurb {
  background-color: #657533;
  color: white;
}

.pic .blurb .phrase {
  color: #dfd25d;
  font-size: 1.5rem;
}

@media (max-width: 575.98px) {
  .pic-frame {
    margin-bottom: 25px;
  }
}

.base {
  background-color: #ebe8d3;
}

.container {
  background-color: white;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
  -webkit-box-shadow: 5px 0 5px -5px rgba(20, 20, 20, 0.7), -5px 0 5px -5px rgba(20, 20, 20, 0.7);
          box-shadow: 5px 0 5px -5px rgba(20, 20, 20, 0.7), -5px 0 5px -5px rgba(20, 20, 20, 0.7);
}

.container h1 {
  font-size: 3em;
}

@media (max-width: 575.98px) {
  .container h1 {
    font-size: 3rem;
  }
}

.container .whitespace {
  height: 15vh;
}

.container button {
  background-color: #1f4d28;
  color: white;
}

nav {
  font-size: 1.1rem;
  font-weight: bold;
}

@media (min-width: 1024.98px) {
  nav .dd {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

nav .lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1024.98px) {
  nav .lang {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

nav .lang .lng {
  font-size: 0.85rem;
}

.social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social ul {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

h1 span img {
  width: 20%;
}

@media (max-width: 575.98px) {
  h1 span img {
    width: 70%;
  }
}
/*# sourceMappingURL=style.css.map */
